# Keycloak
KC_BOOTSTRAP_ADMIN_USERNAME=admin      # Usuario por defecto, cambiar en producción
KC_BOOTSTRAP_ADMIN_PASSWORD=keycloak   # Contraseña por defecto, cambiar en producción
KC_HOSTNAME=localhost                  # Nombre de host para Keycloak
KC_HTTP_ENABLED=true                   # Habilitar HTTP recomendado solo para desarrollo ( true/false )

# Keycloak PostgreSQL
KC_POSTGRES_DB=keycloakdb              # Base de datos para Keycloak, cambiar en producción
KC_POSTGRES_USER=keycloak              # Usuario de la base de datos, cambiar en producción
KC_POSTGRES_PASSWORD=keycloak          # Contraseña de la base de datos, cambiar en producción

# Aurora Stack
AURORA_POSTGRES_DB=auroradb            # Base de datos para Aurora, cambiar en producción
AURORA_POSTGRES_USER=aurora            # Usuario de la base de datos, cambiar en producción
AURORA_POSTGRES_PASSWORD=aurora        # Contraseña de la base de datos, cambiar en producción